/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* layout */

body {
  background-color: #7FE8CC;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-repeat: repeat-x;
  background-position: 50% 0;
  background-image: url(/images/footer_background.png);
	text-align: center;
}
footer .footer_container {
	width: 1010px;
	padding: 0;
	margin: auto;
}

.l-mainmenu {
	height: 88px;
}
.l-mainmenu > ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.l-mainmenu > ul > li {
  display: inline-block;
	margin: 5px 18px 0 18px;

}
.l-submenu {
	margin: 16px auto 30px;
}
.l-submenu > ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.l-submenu > ul > li {
  display: inline-block;
	font-size: 14px;
	margin: 0 10px;
}
.l-submenu > ul > li > a {
	color: #00b383;
	position: relative;
	padding: 6px 16px 6px 6px
}
.l-submenu > ul > li > a:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 7px;
	border-color: transparent transparent transparent #00b383;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -5px;
}

.l-submenu > ul > li > a:link,
.l-submenu > ul > li > a:visited {
	text-decoration: none;
	color: #00b383;
}
.l-submenu > ul > li > a:hover {
	text-decoration: none;
	color: #f15a24;
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	-webkit-box-shadow: 3px 3px 3px #e5dc63;
	-moz-box-shadow: 3px 3px 3px #e5dc63;
	box-shadow: 3px 3px 3px #e5dc63;
	background: #fcee21;
	text-decoration: none;
}
.l-footermenu {
	text-align: right;
	margin: 0 20px 10px 0;
}
.l-footermenu > ul {
  margin: 0;
  padding: 0;
}
.l-footermenu > ul > li {
  display: inline-block;
	font-size: 14px;
	margin: 0 10px;
}
.l-footermenu > ul > li > a:link,
.l-footermenu > ul > li > a:visited {
	text-decoration: none;
	color: #00b383;
}
.l-footermenu > ul > li > a:hover {
	text-decoration: none;
	color: #f15a24;
}


/*TOP詳細*/
.ctn_calender{
	width:;
	}
